<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>CLVN</Name>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vYnNkY2x2bjA5MjAxNy5jcm0uZHluYW1pY3MuY29tL21haW4uYXNweCM1Nzc2MDQ3NTY7VXNlcm5hbWU9cmVhbGVzdGF0ZUBic2RjbHZuMDkyMDE3Lm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0ncEAkJHcwcmQyMDE3JztBdXRoVHlwZT1PZmZpY2UzNjU7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.2.1.411</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_Simulation.html</Path>
      <WebResourceId>8baf95e0-7549-e611-80ec-3863bb36bc80</WebResourceId>
      <WebResourceName>bsd_Simulation</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_design.html</Path>
      <WebResourceId>c23f3526-262d-e611-80e9-3863bb341bb0</WebResourceId>
      <WebResourceName>bsd_design</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_selectreport_advancePayment.html</Path>
      <WebResourceId>6628e4b3-3735-e711-8113-5065f38a0a21</WebResourceId>
      <WebResourceName>bsd_selectreport_advancePayment.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_HandoverNotice_table.html</Path>
      <WebResourceId>dc8f7287-faae-e711-811f-c4346bb59828</WebResourceId>
      <WebResourceName>bsd_HandoverNotice_table</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_btnHandoverNoticeView.js</Path>
      <WebResourceId>e20a49b4-5238-e611-80e7-3863bb36bc80</WebResourceId>
      <WebResourceName>bsd_btnHandoverNoticeView</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_paymentschemedetail.js</Path>
      <WebResourceId>ee142af0-eb43-e611-80e9-3863bb367d40</WebResourceId>
      <WebResourceName>bsd_paymentschemedetail</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>89396bfd-7952-4b3d-a8c5-3c24099cbd66</OrgId>
      <Path>/bsd_SubGridInstallment.js</Path>
      <WebResourceId>a5b4e940-cd03-e711-80e8-c4346badc680</WebResourceId>
      <WebResourceName>bsd_SubGridInstallment</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>