<PluginDeployer>
  <Connections>
    <Connection>
      <Name>CLVN</Name>
      <OrgId>489f3d4b-2412-4a8d-bfc7-91a34efbc69c</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vcHNzdm4tcHJldmlldy5jcm01LmR5bmFtaWNzLmNvbTtVc2VybmFtZT12cl9oYW5waEBjbHdlYmFjYy5jb207UGFzc3dvcmQ9J3BAJCR3MHJkQEJTRDIwMjAjMTEwNic7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>9.1.0.18940</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>489f3d4b-2412-4a8d-bfc7-91a34efbc69c</OrgId>
      <ProjectName>Action_Payment</ProjectName>
      <AssemblyId>383e6bdb-7af1-4711-9e3f-f971a1f354ab</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>