<PluginDeployer>
  <Connections>
    <Connection>
      <Name>CLVN</Name>
      <OrgId>cf5f6dba-c5ff-4997-a197-ba33d639b551</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vYnNkY2x2bjAxMDMyMDE4LmNybS5keW5hbWljcy5jb207VXNlcm5hbWU9cmVhbGVzdGF0ZUBic2RjbHZuMDEwMzIwMTgub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdwQCQkdzByZDIwMTcnO0F1dGhUeXBlPU9mZmljZTM2NTtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>9.0.1.733</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>cf5f6dba-c5ff-4997-a197-ba33d639b551</OrgId>
      <ProjectName>Plugin_AutoShareRecordConfig</ProjectName>
      <AssemblyId>a0fab165-237b-4d5d-afa9-959c7140c77c</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>