<PluginDeployer>
  <Connections>
    <Connection>
      <Name>cal_oe</Name>
      <OrgId>e14cafe2-453d-4b68-8ee7-609279ba885f</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vYnNkY2FwaXRhbGFuZC5jcm01LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1ic2RfdXNlckBic2RjYXBpdGFsYW5kLm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0ncEAkJHcwcmQyMDE2Jzs=</ConnectionString>
      <Version>8.1.0.452</Version>
    </Connection>
  </Connections>
  <Assemblies />
</PluginDeployer>